@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: black;
  font-family: sans-serif;
}

.home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    rgba(0, 212, 255, 0.5) 100%
  );
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: goldenrod;
  box-shadow: 0px 0px 15px rgba(172, 164, 164, 0.3);
}

.home > h2 {
  display: flex;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

.home > div {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 350px) {
  .home-container {
    justify-content: unset;
  }
}

.burgerLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .burgerLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .burgerLista {
    grid-template-columns: 1fr;
  }
}

.burgerCardItem,
.burgerListaItem {
  font-family: "Exo";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
}

.burgerCardItem {
  margin: 20px 0;
  height: 150px;
  width: auto;
}

@media (max-width: 400px) {
  .burgerCardItem,
  .burgerListaItem {
    width: 210px;
    height: 180px;
  }
}

.burgerCardItem > div,
.burgerListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.burgerCardItem__nome,
.burgerListaItem__nome {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.burgerCardItem__descricao,
.burgerListaItem__descricao {
  font-size: 0.85em;
}

.burgerCardItem__preco,
.burgerListaItem__preco {
  color: darkviolet;
}

.burgerListaItem__foto {
  height: 150px;
  margin-right: -60px;
}

.burger-escolhido-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#idburger {
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 0.2rem;
}

#idburgerButton {
  background-color: transparent;
  border: 2px solid #9400d3;
  padding: 0.4rem;
  color: #9400d3;
  font-weight: 600;
  border-radius: 0.2rem;
  width: 330px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

#idburgerButton:hover {
  background-color: #9400d3;
  color: #ffffff;
}

#burger-escolhido-input-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
